<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <style>
        h1{
            color: blue;
        }
        a{
            text-decoration: none;
            color: brown;
            background-color: cyan;
        }
        a:hover{
            background-color: chocolate;
            color: darkgrey;
            
        }
    </style>
    <h1>Data Submitted</h1>
      <a href='/'> Go to Home </a>
</body>
</html>